{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="col-12 mb-3">
            <a href="{% url 'mailing:create_mailing' %}" class="btn btn-lg btn-outline-primary">Создать рассылку</a>
        </div>
    {% endif %}
    <div class="row mb-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Название рассылки</th>
                <th scope="col">Время</th>
                <th scope="col">Периодичность</th>
                <th scope="col">Статус рассылки</th>
                {% if perms.view_mailing %}
                    <th scope="col">Автор рассылки</th>
                {% endif %}
                <th scope="col">Опубликована</th>
                <th scope="col">Управление</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td>
                        {{ object.id }}
                    </td>
                    <td>
                        {{ object }}
                    </td>
                    <td>
                        {% for obj in object.settings.get_queryset %}
                            {{ obj|default:'Не указано' }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for obj in object.settings.get_queryset %}
                            {{ obj.get_mailing_period_display }}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        {% for obj in object.settings.get_queryset %}
                            {{ obj.get_mailing_status_display }}<br/>
                        {% endfor %}
                    </td>
                    {% if perms.view_mailing %}
                        <td>
                            {{ object.owner }}
                        </td>
                    {% endif %}
                    <td>
                        {{ object.is_published|yesno:"Да, Нет" }}
                    </td>
                    {% if user == object.owner or perms.mailing.view_mailingmessage %}
                        <td>
                            <a href="{% url 'mailing:mailing_details' object.pk %}">Просмотреть</a>
                            {% if user.is_superuser or user == object.owner %}
                                <br/><a href="{% url 'mailing:update_mailing' object.pk %}">Редактировать</a>
                            {% elif perms.mailing.can_cancel_mailing %}
                                <br/><a href="{% url 'mailing:update_mailing' object.pk %}">Изменить статус</a>
                            {% endif %}
                            {% if user == object.owner or perms.mailing.delete_mailingmessage %}
                                <br/><a href="{% url 'mailing:delete_mailing' object.pk %}">Удалить</a>
                            {% endif %}
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="row text-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page=1">&laquo; Первая</a>
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}

        {% if page_obj.has_next %}
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a class="btn btn-primary d-inline-flex align-items-center"
               href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}

        <small class="d-block mb-3 text-muted mt-2">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </small>
    </span>
    </div>
{% endblock %}