{% extends 'base.html' %}

{% block content %}
    <div class="row col-12">
        <div class="col-3"></div>
        <div class="card col-6 mb-4 box-shadow">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="p-2 btn btn-outline-warning">
                        {% if object %}
                            Сохранить изменения
                        {% else %}
                            Создать подписчика
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}